@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
    margin: 0;
    overflow-x: hidden;
}

body {
    color: white;
    text-align: center;
    /*font-family: 'DM Serif Display', serif;*/
    font-family: 'Bellefair', serif;
    background-image: url("stars.webp");
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "Title Title Title Title Title"
        "None1 None1 Time1 None2 None2"
        "Sidebar1L Para1 Para1 Para1 Sidebar1R"
        "None3 None3 Time2 None4 None4"
        "Sidebar2L Para2 Para2 Para2 Sidebar2R"
        "None5 None5 Time3 None6 None6"
        "Sidebar3L Para3 Para3 Para3 Sidebar3R"
        "None7 None7 Time4 None8 None8"
        "Sidebar4L Para4 Para4 Para4 Sidebar4R"
        "Footer Footer Footer Footer Footer"
        "Home Random Figma Previous Next"
    ;
    overflow: hidden;
    width: 100vw;
    /*background: linear-gradient(180deg, #D97D0C 0%, #A53005 35.42%, #6F0100 67.19%, #240002 100%);*/
    background: linear-gradient(180deg, rgba(217, 125, 12, 0.8) 0%, rgba(165, 48, 5, 0.8) 35.42%, rgba(111, 1, 0, 0.8) 67.19%, rgba(36, 0, 2, 0.8) 100%);
    grid-gap: 10px;
    padding: 10px;
}

.container>div {
    text-align: center;
    display: inline-block;
    font-weight: 400;
    padding: 10px;
}

:root {
    --title-font: 120px;
    --time-font: 56px;
    --para-font: 48px;
    --footer-font: 30px;
    --button-font: 24px;
    --grid-color: none;
    --time-color: #2400025a;
}

.sticky {
    z-index: 100;
    position: absolute;
    grid-area: sticky;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.sticky-dark {
    z-index: 1000;
    opacity: 0.2;
    position: absolute;
    grid-area: sticky;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#car {
    z-index:1001;
    position: absolute;
    grid-area: sticky;
    position: fixed;
    left: -1000px;
    bottom:0px;
        /* <- not relevant for the animation */
}


.Title {
    margin-top: 30vh;
    grid-area: Title;
    font-size: var(--title-font);
    background-color: var(--grid-color);
}

.Time1 {
    grid-area: Time1;
    margin-top: auto;
    font-size: var(--time-font);
    background-color: var(--time-color);
}

.Sidebar1L {
    margin-top: auto;
    grid-area: Sidebar1L;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Para1 {
    grid-area: Para1;
    font-size: var(--para-font);
    background-color: var(--grid-color);
}

.Sidebar1R {
    margin-top: auto;
    grid-area: Sidebar1R;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Time2 {
    grid-area: Time2;
    margin-top: auto;
    font-size: var(--time-font);
    background-color: var(--time-color);
}

.Sidebar2L {
    margin-top: auto;
    grid-area: Sidebar2L;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Para2 {
    grid-area: Para2;
    font-size: var(--para-font);
    background-color: var(--grid-color);
}

.Sidebar2R {
    margin-top: auto;
    grid-area: Sidebar2R;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Time3 {
    grid-area: Time3;
    margin-top: auto;

    font-size: var(--time-font);
    background-color: var(--time-color);
}

.Sidebar3L {
    margin-top: auto;
    grid-area: Sidebar3L;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Para3 {
    grid-area: Para3;
    font-size: var(--para-font);
    background-color: var(--grid-color);
}

.Sidebar3R {
    margin-top: auto;
    grid-area: Sidebar3R;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Time4 {
    grid-area: Time4;
    margin-top: auto;

    font-size: var(--time-font);
    background-color: var(--time-color);
}

.Sidebar4L {
    margin-top: auto;
    grid-area: Sidebar4L;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Para4 {
    grid-area: Para4;
    font-size: var(--para-font);
    background-color: var(--grid-color);
}

.Sidebar4R {
    margin-top: auto;
    grid-area: Sidebar4R;
    background-color: var(--grid-color);
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.Footer {
    grid-area: Footer;
    font-size: var(--footer-font);
    background-color: var(--grid-color);
}


button {
    color: white;
    border-color: white;
    font-family: 'DM Serif Display', serif;
}

button:hover {
    color: black;
    background-color: white;
    transition: 0.7s;
}


.Home {
    font-family: 'Bellefair', serif;
    grid-area: Home;
    font-size: var(--button-font);
    background-color: var(--grid-color);
    cursor: default;
}

.Random {
    font-family: 'Bellefair', serif;
    grid-area: Random;
    font-size: var(--button-font);
    background-color: var(--grid-color);
    cursor: default;
}

.Figma {
    font-family: 'Bellefair', serif;
    grid-area: Figma;
    font-size: var(--button-font);
    background-color: var(--grid-color);
    cursor: default;
}

.Previous {
    font-family: 'Bellefair', serif;
    grid-area: Previous;
    font-size: var(--button-font);
    background-color: var(--grid-color);
    cursor: default;
}

.Next {
    font-family: 'Bellefair', serif;
    grid-area: Next;
    font-size: var(--button-font);
    background-color: var(--grid-color);
    cursor: default;
}






@media (max-width:600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 3fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr 1fr;
        grid-template-areas:
            "Title Title Title Title Title"
            "Sidebar1L Time1 Time1 Time1 Sidebar1R"
            "Para1 Para1 Para1 Para1 Para1"
            "Sidebar2L Time2 Time2 Time2 Sidebar2R"
            "Para2 Para2 Para2 Para2 Para2"
            "Sidebar3L Time3 Time3 Time3 Sidebar3R"
            "Para3 Para3 Para3 Para3 Para3"
            "Sidebar4L Time4 Time4 Time4 Sidebar4R"
            "Para4 Para4 Para4 Para4 Para4"
            "Footer Footer Footer Footer Footer"
            "Home Random Figma Previous Next"
        ;
        /*gap: 10px;*/
        /*background-color: grey;
        /*padding: 10px;*/
    }

    .container>div {
        text-align: center;
        display: inline-block;
        font-weight: 400;
        padding: 10px;
    }

    :root {
        --title-font: 120px;
        --time-font: 48px;
        --para-font: 24px;
        --footer-font: 18px;
        --button-font: 24px;
        --grid-color: none;
        --time-color: #2400025a;
    }

    img {
        size: auto;
    }

    .Title {
        margin-top: 50px;
    }

    .sticky {
        visibility: hidden;
    }

    .sticky-dark {
        visibility: hidden;
    }

    #car{
        visibility:hidden;
    }

    .Random, .Home, .Previous, .Next {
        font-size:18px;
    }
}

@media (max-width:475px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 1fr;
        grid-template-areas:
            "Title Title Title Title"
            "Time1 Time1 Time1 Time1"
            "Para1 Para1 Para1 Para1"
            "Time2 Time2 Time2 Time2"
            "Para2 Para2 Para2 Para2"
            "Time3 Time3 Time3 Time3"
            "Para3 Para3 Para3 Para3"
            "Time4 Time4 Time4 Time4"
            "Para4 Para4 Para4 Para4"
            "Footer Footer Footer Footer Footer"
            "Home Random Previous Next"
        ;
        /*gap: 10px;*/
        /*background-color: grey;
        /*padding: 10px;*/
    }

    .container>div {
        text-align: center;
        display: inline-block;
        font-weight: 400;
        padding: 10px;
    }

    :root {
        --title-font: 96px;
        --time-font: 32px;
        --para-font: 24px;
        --footer-font: 18px;
        --button-font: 24px;
        --grid-color: none;
        --time-color: #2400025a;
    }

    .Figma {
        display: none;
    }

    .Title {
        margin-top: 50px;
    }

    .sticky {
        visibility: hidden;
    }

    .sticky-dark {
        visibility: hidden;
    }

    #car{
        visibility:hidden;
    }

    img{
        visibility: hidden; 
        
    }
    .Random, .Home, .Previous, .Next {
        font-size:18px;
    }
}